body {
	background-color: #AEA4BF
}
h1 {
	text-align: center;
}
label {
	font-weight: bold;
	

}
p {
	margin-top: 50px;
	text-align: center;
	font-size: 16pt;

}
#submit {
	font-size: 16pt;
}
#username {
	margin-top: 5px;
	height: 20px;

}
#inner_form {
	margin-top: 10px;
	margin-bottom: 10px;
}
#full_container {
	text-align: center;
	width: 1000px;
	height: 200px;
	margin-top: 100px;
	
}
#form_container {
	text-align: left;
	display: inline;
	background-color: #E3E4DB;
	width: 40%;
	
	float: left;
	margin-top: 50px;
	margin-left: 325px;



}
#beepo_container {
	display: inline;
	margin-left: 20%;

}



#beepo {
	margin-top: 50px;

}

